.GamesTable {
  width: "100%";
  padding-top: 4vh;
}

.game-header {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiTableSortLabel-root {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiTableSortLabel-icon {
  color: rgba(232, 230, 227, 0.54) !important;
}

.MuiButtonBase-root {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiTableCell-root {
  border-bottom-color: rgb(57, 61, 64) !important;
  background-color: "rgb(24, 26, 27)" !important;
}

.MuiTypography-colorPrimary {
  color:rgb(109, 149, 204) !important;
}

.MuiFormLabel-root {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiInput-root {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiInput-underline::before {
  border-bottom-color: rgba(140, 130, 115, 0.42) !important;
}

input:focus {
  color: rgba(232, 230, 227, 0.87) !important;
}

.game-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  color: rgba(232, 230, 227, 0.87) !important;
}
