.ladder-table {
  /* margin-top: 2%; */
  min-height: 100vh;
}

.overview-grid {
  padding-top: 7vh;
}

.row-content {
  display: flex;
  flex-direction: row;
}

.games-graph {
  display: flex;
  flex-direction: column;
  text-align: center;
}
