.ladders-card {
  margin-top: 0.5%;
  background-color: rgb(24, 26, 27) !important;
  color: rgba(232, 230, 227, 0.87) !important;
}

.ladders-card-column {
  padding-top: 2vh;
}

.card-header {
  border-bottom-color: rgba(140, 130, 115, 0.13) !important;
}

.card-footer {
  border-top-color: rgba(140, 130, 115, 0.13) !important;
}

.top-players-header {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiTableSortLabel-root {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiTableSortLabel-icon {
  color: rgba(232, 230, 227, 0.54) !important;
}

.MuiButtonBase-root {
  color: rgba(232, 230, 227, 0.87) !important;
}

.MuiTableCell-root {
  border-bottom-color: rgb(57, 61, 64) !important;
  background-color: "rgb(24, 26, 27)" !important;
}

.MuiPaper-root {
  background-color: rgb(24, 26, 27) !important;
}

.MuiTypography-colorPrimary {
  color:rgb(109, 149, 204) !important;
}

.top-players-cell {
  color: rgba(232, 230, 227, 0.87) !important;
}
