.player-card {
  margin-top: 0.5%;
  margin-bottom: 2%;
  background-color: rgb(24, 26, 27) !important;
  color: rgba(232, 230, 227, 0.87) !important;
}

.footer-row {
  display: flex;
  flex-direction: row;
}

.active-badge {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.top-player-cell {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8ch;
}
